<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/js/watson-speech.js"></script>
    <script src="js/textToSpeech.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>



</head>
<body>

<div id="play"  class="btn btn-primary">Play</div><br>
<div id="mic"  class="btn btn-secondary">Mic</div>
<textarea id="txtArea"></textarea>
<div class="row"><div class="col-lg-12 col-md-12 col-sm-12">
    <div class="audioParent">
        <audio id="audioplayer" class="audio">
            Your browser does not support the audio element.
        </audio>
    </div>
</div></div>
<br>



<div class="parent">
    <div class="header"><%= welcomeMsgHeader %></div><br>
    <div class="content"><%= welcomeMsgContent %></div>
</div>



</body>
</html>
