<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>


<script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="play"  class="btn btn-primary">Play</div><br>
<div id="mic"  class="btn btn-secondary">Mic</div>
<div id="readTxt" class="btn btn-secondary">ReadTxt</div>
<textarea id="fieldMessageInput"></textarea>
<div class="row"><div class="col-lg-12 col-md-12 col-sm-12">
    <div class="audioParent">
    </div>
  </div></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div id="btnSendMessage" class="btn btn-primary" href="">Send to Chatbot</div>
      <div id="btnClassifyImage" class="btn btn-primary">Classify</div>
    </div>
    <div class="col-sm-2">

      <div id="conversationFrame">


      </div>

    </div>

  </div>

</div>

<div id="chat"></div>
<div class="message">
  <div class="header">Allison</div><br>
  <div class="content">Hello!</div>
</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="/js/ajax.js" type ="text/javascript"></script>
<script src="/js/watson-speech.js" type="text/javascript"></script>
<script src="/js/textToSpeech.js" type="text/javascript"></script>
<script src="/js/conversation.js" type="text/javascript"></script>
<script src="/js/visualRecognition.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>

</body>
</html>
